<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col m3 footer-contact">
          <h4>Contact us</h4>
          <p>
            7 Factory Road Aba,<br>
             
            Abia State <br>
            <strong>Phone:</strong> +2348107583440<br>
            <strong>Email:</strong> desmondubadire@gmail.com<br>
          </p>
        </div>

        <div class="col m3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            {{!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> --}}
          </ul>
        </div>

        <div class="col m3  footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
          </ul>
        </div>

        <div class="col m3 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Subscribe to our Newsletter to get updates from us.</p>
          <form action="/send" method="post">
            <input type="email" name="email">
            <input type="submit" value="Subscribe">
          </form>
        </div>

      </div>
       <div class="copyright-wrap d-md-flex py-4">
    </div>


    <div class="">
      <div class="row">
       
          <div class="col s8 m6">
            <div class="mr-md-auto ">
              <div class="copyright left-align">
                &copy; Copyright <strong><span>Storybook</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
                Designed by <a href="#">Ogb</a>
              </div>
            </div>
          </div>
          <div class="col m6">
            <div class="social-links text-center pt-3 pb-3 ">
              <a href="#" class="twitter"><i class="fa fa-twitter "></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook "></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram "></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>