<nav class="light darken-3">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo center " id="title">StoryBooks</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
      <i class="fa fa-bars"></i>
    </a>
    <ul class="sidenav" id="mobile-demo">
      
      <li class="li">
        <a href="#" id="li">Home</a>
      </li>
      
       
      <li class="li">
        <a href="/stories" id="li">Public Stories</a>
      </li>
      <li class="li">
        <a href="/dashboard" id="li">Dashboard</a>
      </li>
       <li class="li">
        <a href="/contact" id="li">Contact</a>
      </li>
      <li class="li">
        <a href="/auth/logout" id="li">Logout</a>
      </li>
    </ul>
  </div>
</nav>